.SavedPlaylist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 50%;
  min-height: 30%;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  border-radius: 20px;
  
}

div .SavedPlaylist {
  display: block;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SavedPlaylist {
    width: 90%;
  }
}
